{{!< layouts/main}} <h1>Singup</h1>

    <form action="singup" method="post">
        <input type="text" name="first_name" placeholder="First name" /><br>
        <input type="text" name="last_name" placeholder="Last name" /><br>
        <input type="number" name="age" placeholder="Age" /></br>
        <input type="text" name="email" placeholder="Email" /><br>
        <input type="password" name="password" placeholder="Password" /><br>
        <input type="submit" value="Registrarse" />
    </form>

    <p>¿Ya tienes una cuenta? <a href="https://localhost:8080/login">Inicia sesión</a></p>
    <!-- Enlace para ir a la página de login -->